.taskList {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.taskListItem {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
  width: 100%; 
  max-width: 500px;
  height: auto;
  padding: 0 1rem; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f9f9f9;
}

.taskListItem:hover {
  background-color: #f1f1f1;
}
