.taskItem {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 1rem;
  width: 100%; 
  max-width: 500px;
  height: auto; 
}

.buttonContainer {
  display: flex;
  gap: 5px;
}
  .taskButton {
    color: white;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .deleteButton {
    background-color: #ff4d4d;
  }
  
  .deleteButton:hover {
    background-color: #e60000;
  }

  .upButton {
    background-color: #268ad5;
  }

  .downButton {
    background-color: #d56626;
  }

  .upButton:hover {
    background-color: #262fd5;
  }

  .downButton:hover {
    background-color: #d53726;
  }
  